.page1{
    display: flex;
align-items: center;
justify-content: space-between;
width: 98%;
}
.left{
    width: 30%;
}
.prize{
    width: 100%;
}
.right{
    width: 60%;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: left;
}
.ceremony{
    width: 100%;
}
h1{
    font-size: 1rem;
text-align: left;
width: 100%;
}
ul{
    width: 100%;
    margin-top: 0px;
line-height: 19px;
}
.details{
    line-height: 19px;
}
@media (max-width: 1220px) {
    h1{
        font-size: 13px;
    }
    ul{
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    h1{
        font-size: 10px;
    }
    ul{
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    h1{
        font-size: 1rem;
    }
    ul{
        font-size: 1rem;
    }
    .page1{
        width: 95%;
        flex-direction: column-reverse;
    }
    .left,.right{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .prize{

        height: 20rem;
        width: auto;
    }
}

@media (max-width: 550px) {
    h1{
        font-size: 15px;
    }
    ul{
        font-size: 15px;
    }
}