.footer{
    height: 10vh;
    padding-top:2rem ;
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.phone{
    display: flex;
    justify-content: center;
}
.icon{
    font-size: 1.8rem;
margin: 0 9px;
}
.footer_detail{
    margin-bottom: 0px;
}