.footer{
    height: auto;
    padding-top:2rem ;
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}
.phone{
    display: flex;
    justify-content: center;
}
.icon{
    font-size: 1.8rem;
margin: 0 9px;
}
.footer_detail{
    margin-bottom: 0px;
}
@media (max-width: 768px) {
    .footer{ 

        flex-wrap: wrap;
        text-align: left;
        justify-content: flex-start;
    }
}